
* {
    margin: 0;
    padding: 0;
    
}
body {
    text-align: center;
    display: flex;
    justify-content: center; 
    margin-top: 100px;
    background: black;
}
canvas{
    border: 5px solid white;
    /* border */
    
}
.container{
    position: fixed;
    height: 500px;
    width: 800px;
    /* background-position: center; */
    /* background: white; */
    /* background: url("/Users/dagmzerfu/code/w3/Project-One-Pong-Game/shutterstock_1690478521.jpg"); */
    background-size: cover;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.level {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.start {
    
    border: none;
    height: 8vh;
    width: 20vh;
    border-radius: 1vh;
    background: rgba(250, 248, 248, 0.9);
    color: black;
    font-size: x-large;
}
.easy {
    border: none;
    height: 5vh;
    width: 15vh;
    border-radius: 1vh;
    background: rgba(250, 248, 248, 0.9);
    color: black;
    
}
.medium {
    border: none;
    height: 5vh;
    width: 15vh;
    border-radius: 1vh;
    background: rgba(250, 248, 248, 0.9);
    color: black;
    
}
.hard {
    border: none;
    height: 5vh;
    width: 15vh;
    border-radius: 1vh;
    background: rgba(250, 248, 248, 0.9);
    color: black;
}
